.chatBox{
    /* display: table;
    margin: 0 auto; */
    width: 100%;
    height: 500px;
    background-color:black;
    border-radius: 10px;
    color: white;
    position: relative;
    overflow:hidden;
}
.contents{
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    
}
.contents > :last-child{
    margin-bottom: 15%
}
.textChat{
    width: max-content;
    max-width: 60%;
    text-align: left;
    padding: 15px;
    margin-top: 10px;
    margin-left: 10px;
    color: rgb(255, 255, 255);
    background-color: rgba(163, 160, 160, 0.5);
    border-radius: 30px;;
}
.chatInput{
height: 20%;
width: 100%;
background-color:white;
align-content: center;
position: absolute;
bottom: 0;
}